html {
    scroll-behavior: smooth;
}

a {
    color: inherit; 
}

.noUnderline {
    text-decoration: inherit; 
}

.underline {
    text-decoration: underline;
}

.pageTitleDiv {
    position: relative;
    height: 75vh;
    width:100%;
    /* background-color: magenta; */
    display: inline-flex;
    flex-wrap: wrap;
}

.flex-direction {
    flex-direction: row;
}

.titleFlexL {
    position: relative;
    float: left;
    width: 70%;
    height: 100%;
    /* background-color: blueviolet; */
    display: flex;
}

.bgCircle { 
    position: absolute;
    width: calc(18vw + 35px);
    height: calc(18vw + 35px);
    top: calc(50% - 8.5vw - 17.5px);
    left: 5%;
    background-image: linear-gradient(90deg, rgb(122, 122, 122), black); 
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
    z-index: 1;
 }

.title {
    position: relative;
    margin: 0%;
    padding: 0%;
    align-self: center;
    left: 20%;
    font-size: 8vw;
    color: #fd5151;
    font-weight: 700;
    z-index: 2;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.titleFlexR {
    position: relative;
    float: right;
    width: 30%;
    /* background-color: palegreen; */
}

.jumpTitle {
    position: relative;
    text-align: center;
    /* margin-top: 60px; */
    margin-bottom: 5px;
    font-size: 3vw;
    font-weight: 300;
    color: silver;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 2px;
    text-decoration-color: #fd5151;
}

.jumpBox {
    position: relative;
    top: 60px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    /* background-color: black; */
    height: calc(100% - 3vw);
}

.jumpItem {
    position: relative;
    width: 100%;
    /* background-color: blueviolet; */
    height: 25%;
}

.jumpItem:hover .jumpCircle {
    width: calc((75vh - 80px - 3vw)/4);
    height: calc((75vh - 80px - 3vw)/4);
    left: calc(50% - ((75vh - 75px - 3vw)/8));
    top: 0%;
}

.jumpItem:hover .jumpText {
    font-size: 4vw;
    top: calc(50% - 2vw - 12px);
}

.jumpCircle {
    position: absolute;
    width: 0;
    height: 0;
    border-radius: 100%;
    left: 50%;
    top: 50%;
    background-color: #fd5151;
    cursor: default;
    transition: width .5s, height .5s, top .5s, left .5s;
}

.jumpText {
    position: relative;
    top: calc(50% - 1.5vw - 5px);
    font-size: 3vw;
    text-align: center;
    transition: font-size .5s, top .5s;
    font-family: 'Roboto', sans-serif;
}

.jumpLink {
    text-decoration: none;
    color: silver;
}


@media only screen and (max-width: 768px) {
    .bgCircle { 
        position: absolute;
        width: calc(18vh + 35px);
        height: calc(18vh + 35px);
        top: calc(50% - 9vh - 17.5px);
    }

    .pageTitleDiv {
        flex-direction: column;
        height: 80vh;
    }

    .titleFlexL {
        width: 100%;
        height:40vh;
    }

    .title {
        left: 20%;
        font-size: 12vw;
    }

    .jumpBox {
        top: 0;
    }

    .titleFlexR {
        width: 100%;
        height: 40vh;
    }

    .jumpTitle {
        margin-top: 0%;
        font-size: 5vw;
        text-decoration-thickness: 4px;
    }

    .jumpItem:hover .jumpCircle {
        width: 0;
        height: 0;
    }

    .jumpText {
        font-size: 5vw;
        top: calc(50% - 2.5vw);
    }

    .jumpItem:hover .jumpText {
        font-size: 6vw;
        top: calc(50% - 3vw);
    }
}

.pageSection {
    position: relative;
    width: 100%;
    /* background-image: linear-gradient(180deg, black, rgb(70, 70, 70)); */
    /* background-color: cornflowerblue; */
    margin-top: 50px;
}

.sectionTitle {
    overflow: hidden;
    text-align: center;
    font-weight: 300;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 4.5vw;
    color: white;
}

.sectionTitle:before,
.sectionTitle:after {
    background-color: #fd5151;
    content: "";
    display: inline-block;
    height: 6px;
    border-radius: 2px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.sectionTitle:before {
    right: 0.5em;
    margin-left: -50%;
}

.sectionTitle:after {
    left: 0.5em;
    margin-right: -50%;
}

.cardContainer {
    position: relative;
    /* background-color: darkgrey; */
    margin-top: 10vh;
    left: 10%;
    width: 80%;
    height: fit-content;
}

.card {
    position: relative;
    margin: 10px;
    padding: 30px 40px;
    height: fit-content;
    height: -moz-fit-content;
    background: rgb(40,40,40);
    border: 2.5px solid rgb(30,30,30);
    border-radius: 15px;
    transition: .5s;
}

.card:hover {
    transform: scale(1.03);
}

.subsectionTitle {
    color: white;
    text-decoration: underline;
    text-decoration-color: #fd5151;
    text-decoration-thickness: 3px;
    text-underline-offset: 3px;
    font-size: 2vw;
}

.sectionDuration {
    color: rgb(151, 151, 151);
    font-size: calc(.75vw + 6px);
}

.sectionBody {
    position: relative;
    color: white;
    font-size: 1.5vw;
    font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 768px) {
    .pageSection {
        margin-top: 0px;
        margin-bottom: 40px;
    }

    .sectionTitle {
        font-size: 4.5vh;
    }
    
    .sectionTitle:before,
    .sectionTitle:after {
        height: 1vh;
    }

    .cardContainer {
        margin-top: 6vh;
        left: 2%;
        width: 96%;
    }
    
    .card {
        padding: 20px;
    }
    
    .card:hover {
        transform: none;
    }
    
    .subsectionTitle {
        color: white;
        text-decoration: underline;
        text-decoration-color: #fd5151;
        text-decoration-thickness: 2px;
        text-underline-offset: 3px;
        line-height: 4vh;
        font-size: 3vh;
    }
    
    .sectionDuration {
        line-height: 2vh;
        font-size: 1.8vh;
    }
    
    .sectionBody {
        position: relative;
        color: white;
        font-size: 2.2vh;
        font-family: 'Roboto', sans-serif;
    }
}

.pageAbs {
    position: absolute;
    left: 0;
    right: 0;
}

.education {
    position: relative;
    width: 100%;
    height: fit-content;
    padding-bottom: 25px;
    background-image: linear-gradient(180deg, black, rgb(70, 70, 70));
}
